.header{
border:1px;
background-color:red;

}
h2{
text-align:center;
}
.ss{
float:left;
width:50%;
}
.skills{
border-width:5px;
border-type:solid;
}
td{
text-align:center;
}
.content{
	padding:30px;
	
}
.project{
	width:100%;
	
}
